<div class="blogs">
    {{#each this}}
<article class="border">
    <div class="Blogs">
     {{text.title}} Posted by {{userlogin_id.username}} on         {{format_date created_at}}
    </div>
    <div class="info">
        {{content}}
        {{text}}
    </div>
</article>
 {{/each}}
</div>


