 <article class="text">
        <div class="title">
            {{title}}
        </div>
        <div class="meta">
            {{created_at}}
            |
            <a href="/text/{{id}}">{{contents.length}} content(s)</a>
        </div>
        <div class="user">
            {{userlogin.username}}
        </div>
        </article>