<ol class="dashboard-edit">
    {{#each text as |text|}}

    <li>
        <article class="editing">
            <div class="edit-work">
                {{title}}  {{content}}
            </div>
        </article>
    </li>
    {{/each}}
</ol>



<article class="newest">
    <form class="new-content">
        <div>
            <label for="text-title">Title:</label>
            <input name="text-title" type="text" value="{{title}}" />
        </div>
        <div>
            <label for="content-body">Content</label>
            <input name="content-body" type="text" value="{{content}}" />
        </div>
            <button type="submit" class="new">save</button>
    </form>
</article>


    
{{#if text.length}}
{{> text update.blogs}}
<section>
  
    <ol>
        {{#each text as |text|}}
        <li>
            <a href="/dashboard/edit/{id}" class="update-content">{{> text}}</a>
        </li>
        {{/each}}
    </ol>
    {{/if}}
</section>


        
  
 


{{#if loggedIn}}
<script src="/javascript/blogs.js"></script>
<script src="/javascript/adding.js"></script>

{{/if}}



{{#if text.length}}
<section>
    <ol class="text-list"></ol>
        {{#each text as |text|}}
        <li>
            <a href="/text/{{text.id}}" class="blogs">{{> text text}}</a>
        </li>
        <li class="explain">   {{blogs.content}}<li>
        {{/each}}
    </ol>
    {{/if}}
    {{content}}
</section>

  <div>


{{#if loggedIn}}
        
      {{> blogs text.blogs}}
  <article>
    
<form class="blogs-form">
    
    <div>

</form>
</article>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/blogs.js"></script>
{{/if}}


